<h1 class="text-xl font-semibold text-gray-800 mb-4"> <%= @project.name %> </h1>
<ul class="space-y-2">
  <% @project.todos.each do |todo| %>
    <li class="bg-white p-4 shadow rounded flex items-center justify-between">
       <span><%= link_to todo.name, todo_path(todo) %></span>
        <% if todo.completed %>
        <span class="text-green-500 font-bold">✅ Done</span>        
        <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Back to Projects", projects_path %> 
<%= button_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %> 